.divPost div{
    border-bottom: 1px solid rgb(182, 182, 182);
    font-size: 20px;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    color: white;
}

.divPost h3{
    font-size: 20px;
    padding: 0;
    color: white;
}



.p_bg1 {
    background-color: rgb(0, 0, 0);
    color: black;
}

.p_bg2 {
    background-color: rgb(159, 255, 81);
    color: rgb(255, 0, 0);
}

.p_bg3 {
    background-color: rgb(54, 31, 0);
    color: rgb(255, 255, 255);
}

.p_bg4 {
    background-color: rgb(255, 223, 223);
    color: white;
    font-size: 10px;
}


.divPost_comment div{
    font-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
}

.container-fluid_content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-fluid_bline {
    padding-top: 20px;
    padding-bottom: 0px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 110);
}

.navbar-nav li a {
    color: white !important;
}

.navbar-nav li a:hover {
    color: red !important;
}

.navbar_top {
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
}

h1,p {
    color: rgb(163, 162, 162);
}