.p_bg1 {
    background-color: antiquewhite;
    color: black;
}

.p_bg2 {
    background-color: rgb(159, 255, 81);
    color: rgb(255, 0, 0);
}

.p_bg3 {
    background-color: rgb(54, 31, 0);
    color: rgb(255, 255, 255);
}

.p_bg4 {
    background-color: rgb(158, 157, 157);
    color: white;
    font-size: 10px;
}

.container-fluid_content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 2px;
}

.navbar-nav li a:hover {
    color: red !important;
}